/* css reset */
* {box-sizing: border-box;}
*:before,*:after {box-sizing: border-box;}
* {margin: 0;padding: 0;}
ul,ol {list-style: none;}
a{color: inherit; text-decoration: none;}
img{max-width: 100%; max-height: 100%;}

/* style */
body{
    background:no-repeat url(images/mobileBackground.jpg);
    background-size:cover;
    /* 保持图片分辨率 */
    min-width: 100vw;
    min-height: 100vh;
overflow: hidden;}
.globalHeader {
    margin: 20px ;
}

@media(min-width: 500px){
    body{
        background:no-repeat url(images/background.jpg);
    min-width: 100vw;
    min-height: 100vh;
    background-size:cover;}
    
    .globalHeader {
        margin:60px 0 90px;
    }
}
.searchForm{
    display: flex;
    justify-content: space-between;
}
@media(min-width: 500px){
    .searchForm{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
.searchForm> input {
    width: 100%;
    /* margin-right: 10px; */
    height: 40px;
    padding: 0 10px;
    border: 1px solid #5f7b99;
    border-radius: 15px 0px 0px 15px;
}
.searchForm > button {
    white-space: nowrap;
    padding: 0 23px;
    border: 1px solid #5f7b99;
    border-radius: 0px 15px 15px 0px;
    background: linear-gradient(90deg, rgba(23,73,131,1) 0%, rgba(14,74,136,1) 24%, rgba(9,55,103,1) 100%);
    color: white;
    font-size: 20px;
}

.globalMain {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.siteList {
    margin:  20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media(min-width: 500px){
    .siteList{
        margin-left: 0;
        margin-right: -20px;
        justify-content: flex-start;
    }
}
.siteList > li {
    margin-bottom: 10px;
    
}
@media(min-width: 500px){
    .siteList > li {
        margin-right: 20px;
        margin-bottom: 30px;
    }
}
.siteList .site {
    width:170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px 0;
    position: relative;
    cursor: pointer;
    background-color:rgba(255,255,255,0.7);

}
.siteList .site > .logo {
    width: 84px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    text-transform: uppercase;
}
.siteList .site > .link {
    font-size: 14px;
    margin-top: 4px;
}
.siteList .site > .close {
position: absolute;
right: 2px;
top: -2px;
font-size: 18px;
cursor: default;
}
@media(min-width: 500px){
    .siteList .site > .close {
        display: none;
    }
    .siteList .site:hover > .close {
        display: block;
    }
    .siteList .site {
        filter: drop-shadow(1mm 3mm 1mm rgb(255,255,255));
    }
}


.siteList .addButton {
    width:170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px 0;
    background-color:rgba(255,255,255,0.7);
}
@media(min-width: 500px){
    .siteList .addButton {
        filter: drop-shadow(1mm 3mm 1mm rgb(255,255,255));
    }
}

.siteList .addButton .icon{
    width: 56px;
    height: 56px;
    cursor: pointer;
    
}
.siteList .addButton .iconWrapper{
    width: 84px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteList .addButton .text{
    font-size: 14px;
    margin-top: 4px;
}